.qrDate {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .qrDateItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .qrDateItem span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: var(--accent-color);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 36px;
    height: 36px;
  }

    .qrDateItem span:nth-child(2) {
        font-size: 14px;
        font-weight: 500;
        color: #000;
    }
  

  