:root {
  --bg-color: #EAF6F6;
  --box-color:  #FFFFFF;
  --button-color: #66BFBF;
  --accent-color: #FF0063;
}

body {
  background: var(--bg-color);
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}
